* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  
}

.column {
  float: left;
  padding: 10px;
  
}

.left {
  width: 20%;
  align-items: center; /* Center items along the cross (vertical) axis */
   
}

.right {
  width: 80%;
}


.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.row h1 {
  font-size: 30px;
  color: #5ba5c8;
  margin-bottom: 20px;
}

.sidebar-link {
  display: block;
  color: #333;
  font-size: 30px;
  text-decoration: none;
  text-align: center; /* Center-align text */
  margin-bottom: 10px;
}

.sidebar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  
  cursor: pointer;
  
}

.logo-image {
  width: 50%; /* Adjust the width of the logo image */
  height: auto; /* Maintain aspect ratio */
}


.post-container {
  background-color: #a6cfe5;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 20px;
  position: relative; /* Ensure proper positioning of the trash button */

}


.post-button {
  display: block;
  width: 30%;
  height: 50%;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  align-items: center;
  margin: 7px;

}

.profile-button {
  display: block;
  width: 30%;
  height: 50%;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  align-items: center;
  margin: 7px;
}


.post-button-small {
  display: block;
  width: 5%;
  height: 25%;
  padding: 8px;
  font-size: 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  align-items: center;
}


.reply-button {
  display: block;
  width: 4%;
  height: 25%;
  font-size: 12px;
  padding: 8px;
  margin-top: 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}



.post-form {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: dashed gray;
}


.reply-form {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: dashed gray;
}

.reply-container {
  background-color: #a6cfe5;
  border-radius: 20px;
  position: relative;
}

.trash-button {
  position: absolute; /* Position the button relative to the post container */
  top: 7px; /* Adjust top position as needed */
  right: 5px; /* Adjust right position as needed */
  display: none; /* Hide the button by default */
  cursor: pointer; /* Show pointer cursor */
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 100px;
  font-weight: bold;
}

.post-container:hover .trash-button {
  display: block; /* Show the button when the post container is hovered over */
}