header {
  background-color: #5ba5c8;
  color: white;
  text-align: center;
  padding: 1px;
  width: 100%;
}

.post-container {
  background-color:#a6cfe5;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 1px;
  border-radius: 20px; 
  width: 400px;
}

.post-container p {
  margin-top: 1px;
  font-size: 1.6rem; /* Set the font size for original text */
}

.post-container .reply {
  font-size: 1rem; /* Set a smaller font size for replies */
}

.post-container h3 {
  text-align: left;
  font-size: 1rem; /* Set a smaller font size */
  font-weight: bold; /* Remove bold style */
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #3498db;
  font-size: 1rem; 
  color: #ffffff;
  padding: 7px;
  border-color: white;
  border-width: 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:active {
  /* Styles when the button is clicked */
  background-color: #2980b9;
}

.reply button {
  /* Styles for reply buttons */
  border-radius: 50%; /* Make it oval */
  width: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-link {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #FFFFFF;
  background-color: #3498db;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.homepage-link {
  position: absolute;
  top: 70px;
  left: 20px;
  color: #FFFFFF;
  background-color: #3498db;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}