.profile-page {
  color: #FFFFFF;
  background-color: #a6cfe5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.profile-logo {
  width: 200px; /* Adjusted size for better visibility */
  margin: 0 auto; /* Center the logo */
  margin-bottom: 30px;
}



.profile-detail {
  background-color: white; /* Orange */
  color: black;
  padding: 15px 20px;
  margin: 10px 0;
  width: 90%; /* Adjusted width for better layout */
  max-width: 500px; /* Maximum width to maintain form factor */
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center content */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Consistent shadow styling */
}

.profile-detail label {
  font-weight: bold;
  margin-right: 10px; /* Added margin for spacing */
}

.profile-header {
  font-weight: bold;
  font-size: 30px;
  color: black;

}

.profile-detail span,
.profile-detail input {
  flex-grow: 1; /* Allow span and input to fill available space */
  text-align: right; /* Align text to the right */
}

.edit-button,
.save-button {
  background-color: #3498db; /* Lighter blue */
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px; /* Added margin for spacing between text and button */
}

.button {
  background-color: #3498db; /* Lighter blue */
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.logo-image {
  width: 170px; /* Adjust the width of the logo image */
  height: auto; /* Maintain aspect ratio */
}

.sidebar-button {
  align-items: left;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}


.edit-button:hover,
.save-button:hover {
  background-color: #002460; /* Dark blue */
  transform: scale(1.05); /* Slight grow effect on hover */
}

.delete-button:hover {
  background-color: #002460; 
}

.profile-actions {
  display: flex;
  flex-direction: column; 
  align-items: center;
}


.delete-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.delete-content {
  background: white;
  color: black; 
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.mainpage-link {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #FFFFFF;
  background-color: #3498db;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.homepage-link {
  position: absolute;
  top: 70px;
  left: 20px;
  color: #FFFFFF;
  background-color: #3498db;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}